@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.page {
// background-color: #F7F9FF;
background-color: white;
font-family: "courgette";
p,a,span,h1,h2,h3 {
    color: #355b83 !important;

}
}