.footer{
    // background-color: #444655;
    background-color: #1a2d40;
    
    width: 80% !important;
    height: 20em;
    p {
        color:whitesmoke !important;
        font-weight: normal;
    }
}