.feed-card{
    background-color: white;
    width: 240px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.8em;
    color: #355b83;
}

.feed-img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width:240px;
    height:240px;
}